NET "GPO1[0]" LOC = U16;
NET "GPO1[1]" LOC = V16;
NET "GPO1[2]" LOC = U15;
NET "GPO1[3]" LOC = V15;
NET "GPO1[4]" LOC = M11;
NET "GPO1[5]" LOC = N11;
NET "GPO1[6]" LOC = R11;
NET "GPO1[7]" LOC = T11;
NET "Clk" LOC = V10;
NET "Reset" LOC = C4;
NET "GPI1[0]" LOC = T10;
NET "GPI1[1]" LOC = T9;
NET "GPI1[2]" LOC = V9;
NET "GPI1[3]" LOC = M8;
NET "GPI1[4]" LOC = N8;
NET "GPI1[5]" LOC = U8;
NET "GPI1[6]" LOC = V8;
NET "GPI1[7]" LOC = T5;