//! **************************************************************************
// Written by: Map P.28xd on Sat Dec 13 15:44:49 2014
//! **************************************************************************

SCHEMATIC START;
NET
        "mcs_0/U0/microblaze_I/MicroBlaze_Core_I/Area.Data_Flow_I/PC_Module_I/Using_FPGA.pc_write_I"
        USELOWSKEWLINES;
COMP "Clk" LOCATE = SITE "V10" LEVEL 1;
COMP "Reset" LOCATE = SITE "C4" LEVEL 1;
COMP "GPI1<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "GPI1<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "GPI1<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "GPI1<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "GPI1<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "GPI1<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "GPI1<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "GPI1<7>" LOCATE = SITE "T5" LEVEL 1;
COMP "GPO1<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "GPO1<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "GPO1<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "GPO1<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "GPO1<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "GPO1<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "GPO1<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "GPO1<7>" LOCATE = SITE "T11" LEVEL 1;
SCHEMATIC END;

