//! **************************************************************************
// Written by: Map P.58f on Tue Feb 18 00:36:52 2014
//! **************************************************************************

SCHEMATIC START;
COMP "COL" LOCATE = SITE "P4" LEVEL 1;
COMP "MDC" LOCATE = SITE "M5" LEVEL 1;
COMP "CRS" LOCATE = SITE "N3" LEVEL 1;
COMP "RST" LOCATE = SITE "B8" LEVEL 1;
COMP "MDIO" LOCATE = SITE "L6" LEVEL 1;
COMP "RXER" LOCATE = SITE "M1" LEVEL 1;
COMP "RXDV" LOCATE = SITE "L1" LEVEL 1;
COMP "TXEN" LOCATE = SITE "L2" LEVEL 1;
COMP "TXER" LOCATE = SITE "P2" LEVEL 1;
COMP "RXCLK" LOCATE = SITE "H4" LEVEL 1;
COMP "TXCLK" LOCATE = SITE "L5" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "U16" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "V16" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "U15" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "V15" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "M11" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "N11" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "R11" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "T11" LEVEL 1;
COMP "NUM<0>" LOCATE = SITE "T10" LEVEL 1;
COMP "NUM<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "NUM<2>" LOCATE = SITE "V9" LEVEL 1;
COMP "NUM<3>" LOCATE = SITE "M8" LEVEL 1;
COMP "NUM<4>" LOCATE = SITE "N8" LEVEL 1;
COMP "NUM<5>" LOCATE = SITE "U8" LEVEL 1;
COMP "NUM<6>" LOCATE = SITE "V8" LEVEL 1;
COMP "NUM<7>" LOCATE = SITE "T5" LEVEL 1;
COMP "RESETN" LOCATE = SITE "P3" LEVEL 1;
COMP "RXD<0>" LOCATE = SITE "M3" LEVEL 1;
COMP "RXD<1>" LOCATE = SITE "N1" LEVEL 1;
COMP "RXD<2>" LOCATE = SITE "N2" LEVEL 1;
COMP "RXD<3>" LOCATE = SITE "P1" LEVEL 1;
COMP "TXD<0>" LOCATE = SITE "T1" LEVEL 1;
COMP "TXD<1>" LOCATE = SITE "T2" LEVEL 1;
COMP "TXD<2>" LOCATE = SITE "U1" LEVEL 1;
COMP "TXD<3>" LOCATE = SITE "U2" LEVEL 1;
SCHEMATIC END;

